<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>The Cut</title>

    <% if (page === "universe") { %>
        <link rel="stylesheet" href="/css/universe.css">
    <% } else { %>
        <link rel="stylesheet" href="/css/main.css">
    <% } %>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
</head>

<body>
<header class="simple-header">
    <div class="simple-header-inner">
        <a href="/" class="simple-logo">The Cut</a>
        <nav class="simple-nav">
            <a href="/universe">Dashboard</a>
            <a href="/logout">Logout</a>
        </nav>
    </div>
</header>
